# Database
DATABASE_URL=postgresql://user:password@localhost:5432/analytics_report_builder
DATABASE_SSL=false

# Square
SQUARE_ENVIRONMENT=sandbox
SQUARE_OAUTH_CLIENT_ID=
SQUARE_OAUTH_CLIENT_SECRET=
SQUARE_APP_ACCESS_TOKEN=
SQUARE_WEBHOOK_SECRET=
SQUARE_WEBHOOK_NOTIFICATION_URL=http://localhost:3001/api/webhooks/square

# API
NODE_ENV=development
PORT=3001

# UI
VITE_API_URL=/

# Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:5173
SYSTEM_ADMINS_JSON='[{"email":"new-admin@example.com","name":"New Admin","password":""}]' //Set it as export SYSTEM_ADMINS_JSON='[{"email":"new-admin@example.com","name":"New Admin","password":"changeme123"}]' before running pnpm db:seed

# Email (SMTP)
EMAIL_SMTP_HOST=smtp.dreamhost.com
EMAIL_SMTP_PORT=587
EMAIL_SMTP_SECURE=false
EMAIL_SMTP_USER=support@easyedeval.com
EMAIL_SMTP_PASSWORD="Rzd1ez#rUFvmW4Zc"
EMAIL_FROM=no-reply@example.com
EMAIL_REPLY_TO=support@easyedeval.com
